@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.style {
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, hsl(180, 26%, 4%) 50%, #d3d3d3 50%);
  color: "black";
  position: fixed;
}

.img {
  width: 35%;
  height: 70%;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 5%;
  margin-bottom: 25%;
  border-style: solid;
  border-width: 1%;
  border-color: gray;
}

.title {
  color: black;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 5vw;
  font-family: "Dancing Script";
}

.title1 {
  color: red;
  position: absolute;
  top: 80%;
  left: 2%;
  font-size: 2vw;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 4vw;
  height: 4vw;
  left: 90%;
  top: 5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #d3d3d3;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: red;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 15px;
  width: 15px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: red;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #d3d3d3;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #d3d3d3;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 15%;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(192, 7, 7, 0.3);
}

.menu-item {
  font-size: 3vw;

  color: black;
}

.quote {
  color: white;
  position: absolute;
  top: 50%;
  left: 70%;
  font-size: 1vw;
  font-family: "Indie Flower";
}

.educationDiv {
  height: 100%;
  width: 100%;
  position: fixed;
}

.educationBackground {
  background-image: url(./images/chairs.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.expDiv {
  height: 100%;
  width: 100%;
  position: fixed;
}

.expBackground {
  background-image: url(./images/mount.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.proBackground {
  background-image: url(./images/mashine.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.proDiv {
  height: 100%;
  width: 100%;
  position: fixed;
}
.contBackground {
  background-image: url(./images/city.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.contDiv {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90%;
  width: 90%;
}

.aBackground {
  background-image: url(./images/me.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}
.aDiv {
  height: 100%;
  width: 100%;
  position: fixed;
}

.projBackground {
  background-color: gray;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}
